@import "tailwindcss";

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Variable font range, adjust as needed */
  font-style: normal;
  font-display: swap; /* Improves loading behavior */
}

@theme {
  --font-satoshi: 'Satoshi-Variable', sans-serif;
}

/* Optional: Apply font globally */
@layer base {
  body {
    font-family: 'Satoshi-Variable', sans-serif;
  }
}
@keyframes glowMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.border-glow {
  border-radius: 1rem;
  background: linear-gradient(
    270deg,
    red,
    blue,
    green,
    yellow,
    red
  );
  background-size: 600% 600%;
  animation: glowMove 5s linear infinite;
  filter: blur(12px) brightness(2);
  opacity: 1;
  z-index: 0;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
